@import url(https://fonts.googleapis.com/css?family=Roboto:300,400);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);

:root {
  /* Color */
  --lightest: #fffdf7;
  --brown: #a88c7b;
  --brown-darker: #9a7c6a;

  /* Width */
  --lg: 80rem;
  --md: 50rem;
  --sm: 30rem;
}





/**********************Services Section**********************/
#services{
  background-color: #EDEDEDED;

}
.services-wrapper{
  width: inherit;
  height: inherit;
  margin: 0 1vw 3vh 1vw;
}
.section-subheading{
  margin: 0 0 1rem 0;
  text-align: center;
  font-style: italic;
  font-weight: 300;
  font-size: 90%;
}
.content-row{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.services-display{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
}
.services-col{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 1vw;
}
.services-col p{
  text-align: center;
}

.service-heading{
  margin-top: 1vh;
  font-size: medium;
 }
 .see-gallery{
  padding: 1vh;
 }

@media screen and (max-width: 640px)
{
  .services-display{
    flex-direction: column;
  }

}

@media screen and (min-width: 770px){
  #services-selector{
    width: 110%;
  }
  .selectdiv{
    width: 110%;
  }


}


@media screen and (max-width: 769px) {

   textarea{
       max-width: 85%;
   }
   #services-selector{
     width: 90%;
   }
   .selectdiv{
     width: 90%;
   }

   .service-wrap{
    max-width: none;
   }


}