/* RESET RULES & HELPER CLASSES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
:root {
    --overlay: rgba(0, 0, 0, 0.35);
    --box-shadow: 0 5px 20px 2px rgba(0, 0, 0, 0.15);
    --green: #528119;
    --red: #e74c3c;
  }
  
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  a {
    color: inherit;
  }
  
  a:hover {
    color: currentColor;
    text-decoration: none;
  }
  
  .cover {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  .overlay {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--overlay);
  }
  
  .btn-outline-success {
    color: var(--green);
  }
  
  .btn-outline-success:hover,
  .btn-outline-success:not(:disabled):not(.disabled):active {
    background: var(--green);
  }
  
  .btn-outline-success,
  .btn-outline-success:hover,
  .btn-outline-success:not(:disabled):not(.disabled):active {
    border-color: var(--green);
  }
  
  
  /* FIRST SECTION
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .hero-section {
    height: 100vh;
  }
  
  .hero-section video {
    /*position: absolute;
    top: 0;
    left: 0;*/
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .hero-section svg {
    bottom: 0;
    left: 0;
    height: 30vh;
  }
  
  
  /* SECOND SECTION
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .photos-section .card-outer {
    margin-bottom: 30px;
  }
  
  .photos-section .card {
    border: none;
    box-shadow: var(--box-shadow);
  }
  
  .photos-section .card svg {
    bottom: 0;
    left: 0;
    height: 55px;
  }
  
  
  /* THIRD SECTION
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .cover-section .cover {
    background-attachment: fixed;
  }
  
  .cover-section .caption {
    bottom: 30px;
    left: 15px;
    z-index: 1;
  }
  
  .cover-section svg {
    bottom: 0;
    left: 0;
    height: 30vh;
  }
  
  
  /* FOOTER
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .page-footer {
    padding: 50px 0;
    box-shadow: var(--box-shadow);
  }
  
  .page-footer .credits {
    line-height: normal;
  }
  
  .page-footer span {
    color: var(--red);
  }
  
  
  /* MQ
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  @media screen and (min-width: 768px) {
    .cover-section .caption {
      bottom: 50px;
    }
    
    .cover-section svg {
      height: 50vh;
    }
  }
  
  @media screen and (min-width: 1200px) {
    .photos-section .card-outer {
      margin-bottom: 0;
    }
  }